$bright-white: #fff;
$brand-white: #faf9fa;
$brand-purple: #17141f;
$button-purple: #6441a4;

* {
  // border: 1px solid pink;
}

.tw-app {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
}

.favicon {
  height: 16px;
  width: auto;
}

.logo {
  height: 2rem;
  width: auto;
  margin: 1rem auto;
  display: block;
}

.tw-app__left {
  display: flex;
  justify-content: center;
  background: $brand-purple;
  width: 22%;
  height: 100%;
  overflow: auto;

  padding: 1rem;
}

.InputAddOn {
  color: $bright-white;
  font-family: Helvetica Neue,Helvetica,sans-serif;
}

.nav-list {
  color: $brand-white;
  margin: 0.5rem auto;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.nav-list__item {
  padding: 0.5rem;
  font-family: Helvetica Neue,Helvetica,sans-serif;
}

.channels-list {
  margin: 1rem auto;
  border: 1px solid white;
}

.channels {
  color: $brand-white;
  text-transform: uppercase;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-size: 0.9rem;
}

.channels-list__item {
  display: flex;
}

.image-wrap {

}

.text-wrap {
  margin-left: 0.5rem;
}

.list__item-title {
  color: $brand-white;
  font-size: 0.9rem;
}

.item-title__desc {
  color: gray;
  display: block;
  font-size: 0.7rem;
}

.btn-container {
  text-align: center;
}

.nav-btn {
  background: $button-purple;
  color: $bright-white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.tw-app__center {
  display: flex;
  background: $bright-white;
  width: 80%;
  overflow: auto;
  flex-direction: column;
}

.heading {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;

}

.all-games {
  flex-grow: 1;
  margin-left: 1rem;
  color: $brand-purple;
}

.input {
  margin: 0.5rem;
  width: 30%;
}


.games-list {
  display: flex;
  flex-wrap: wrap;
}

.game-item {
  margin: 0.5rem;
}

.game-item__name {
  color: black;
  text-align: center;
}

.game-item__popularity {
  color: gray;
  text-align: center;
}

.pic-container {
}

.tw-app__right {
  background: $brand-white;
  overflow: auto;
}

.tw-app__right:p {
  color: $brand-purple;
}
