$bright-white: #fff;
$brand-white: #faf9fa;
$brand-purple: #17141f;
$button-purple: #6441a4;

* {
  // border: 1px solid pink;
}

.tw-app {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
}

.favicon {
  height: 16px;
  width: auto;
}

.logo {
  height: 2rem;
  width: auto;
  margin: 1rem auto;
  display: block;
}

.tw-app__left {
  display: flex;
  justify-content: center;
  background: $brand-purple;
  width: 20%;
  height: 100%;
  overflow: auto;

  padding: 1rem;
}

.InputAddOn {
  color: $bright-white;
  font-family: Helvetica Neue,Helvetica,sans-serif;
}

.nav-list {
  color: $brand-white;
  margin: 0.5rem auto;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.nav-list__item {
  padding: 0.5rem;
  font-family: Helvetica Neue,Helvetica,sans-serif;
}

.channels {
  color: $brand-white;
  text-transform: uppercase;
  font-family: Helvetica Neue,Helvetica,sans-serif;
}

.btn-container {
  text-align: center;
}

.nav-btn {
  background: $button-purple;
  color: $bright-white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.tw-app__center {
  display: flex;
  background: gray;
  width: 80%;
  overflow: auto;
}


.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.games-item {
  // margin: auto;
  background: red;
  padding: 0.5rem;
}

.game-item__name {
  color: blue;
}

.game-item__popularity {
  color: green;
}

.tw-app__right {
  background: tan;
  overflow: auto;
}

.tw-app__right:p {
  color: $brand-purple;
  background: $brand-white;
}
